.resume-button {
    border-color: aqua; 
    color:aqua; 
    padding-left: 0.5rem; 
    margin-inline-end: 1rem;
    padding-right: 0.5rem;
}

.navbar-link{
    margin-inline-end: 1rem;
}

.navbar-image{
    background:#212529;
     border-radius: 10px; 
    border-color: aqua;
    cursor: pointer;
}