<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark shadow">
  <img src="../assets/icons8-s-48.png" class="img-rounded btn-outline-dark navbar-image" routerLink="/">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item navbar-link">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item navbar-link">
        <a class="nav-link" href="#">Experience</a>
      </li>
      <li class="nav-item navbar-link">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item navbar-link">
        <a class="nav-link" href="#">Education</a>
      </li>
      <li class="nav-item navbar-link">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-outline-dark btn-sm btn resume-button"> Resume </button>
      </li>
    </ul>
  </div>
</nav>

<body>
<div class="container">
<router-outlet></router-outlet>
</div>
</body>